body{margin: 100px;
}
	
p{
	 font: vernada;
	 
}

img{
	width: 500px; 
	height: 500px;
	margin-left: 150px;
}
h1{
	text-decoration: underline; 
	font-weight: bolder;
	
}
.p1{
	color: blue;
}
.paragraph{
}