body{
	background-color: lightblue;

}
h1{
	background-color: white;
	margin-left: 200px;
	margin-bottom: 5px;

}
.info{
	margin-left: 200px;
}
.submit{
	margin-left: 200px;

}
.info1{
	border-spacing: 200px;
	background-color: white;
	margin-left: 120px;
	margin-right: 120px;
	padding-top: 40px;
	margin-bottom: -4px;
}
.lower1{
	background-color: #657786;
	width: auto;
	padding: 20px 10px;
	line-height: 20px;
	padding-bottom: 20px;
	margin-left: 120px;
	margin-right: 120px;
}
p{
	margin-left: 200px;
	padding: -5px; 
	
		
}
.A{
	padding-bottom: -10px;
	margin-bottom: 
}
button{
	background-color: #1da1f2;
	border-radius: 200px;
	margin-left: 200px;
}